<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Action</string>
			<key>Title</key>
			<string>Action</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Charts</string>
			<key>Title</key>
			<string>Charts</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Former</string>
			<key>Title</key>
			<string>Former</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Ios-snapshot-test-case</string>
			<key>Title</key>
			<string>Ios-snapshot-test-case</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Locksmith</string>
			<key>Title</key>
			<string>Locksmith</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Nimble</string>
			<key>Title</key>
			<string>Nimble</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Quick</string>
			<key>Title</key>
			<string>Quick</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Realm-cocoa</string>
			<key>Title</key>
			<string>Realm-cocoa</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RxAppState</string>
			<key>Title</key>
			<string>RxAppState</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RxCocoa</string>
			<key>Title</key>
			<string>RxCocoa</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RxDataSources</string>
			<key>Title</key>
			<string>RxDataSources</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RxRealm</string>
			<key>Title</key>
			<string>RxRealm</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RxSwift</string>
			<key>Title</key>
			<string>RxSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/XCGLogger</string>
			<key>Title</key>
			<string>XCGLogger</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
